<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <servlet>
        <servlet-name>PublisherDemo</servlet-name>
        <servlet-class>pubsub.PublisherDemo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PublisherDemo</servlet-name>
        <url-pattern>/pub</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SubscriberDemo</servlet-name>
        <servlet-class>pubsub.SubscriberDemo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubscriberDemo</servlet-name>
        <url-pattern>/sub</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TaskqueueAdd</servlet-name>
        <servlet-class>taskqueue.Addqueue</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TaskqueueAdd</servlet-name>
        <url-pattern>/addqueue</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TaskqueueGet</servlet-name>
        <servlet-class>taskqueue.Getqueue</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TaskqueueGet</servlet-name>
        <url-pattern>/getqueue</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>ObjectifyRegisterFilter</filter-name>
        <filter-class>filter.ObjectifyRegister</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyRegisterFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>